/*CS5410 Assignment1, Fabio Gottlicher A01647928*/

html{
    height: 100%;    
}
body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444444;
    height: 100%;
    overflow: hidden;
}

#all
{
    width : 60%;
}

#controls
{
    margin-left: 10px;
    width: calc(25%);   
    float: right;
}

#gameBoard 
{
    float: left;
    position: relative;
    width:    calc(75% - 10px); /* desired width */
}

#gameBoard:before 
{
    content:     "";
    display:     block;
    padding-top: 100%; /* initial ratio of 1:1*/
}

#gameBoardDummy
{
    position: absolute;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;
}


